{% extends '_base.html' %}

{% load static %}

{% block title %}Books{% endblock title %}

{% block content %}
  <div class="my-2">
    <div class="card-header text-color-brand "><h2>All Books</h2></div>
  </div>
{#  {% if not perms.books.special_status %}#}
{#    <a href="{% url 'orders' %}" class="btn btn-success mb-1">Purchase All Books</a>#}
{#  {% endif %}#}
  <div class="special-card shadow-lg pl-3">
    <div class="books-div mb-2">
      {% for book in book_list %}
        <div class="card m-2" style="width: 14rem; border-color: #343a40">
          {#          <div class="" style="border: 2px grey solid; height: 32vh">#}
          {% if  book.image_url %}
            <img class="bookcover card-img-top img-fluid" src="{{ book.image_url }}" alt="{{ book.title }}">
          {% elif  book.cover %}
            <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
          {% else %}
            <img src="{% static 'images/nobook.jpeg' %}" class="card-img-top" alt="no book cover">
          {% endif %}


          <div class="card-book-body py-2">
            {% if not perms.books.special_status %}
              <div class="d-flex justify-content-between">
              <h6 class="card-book-title"><a class="auth-links">{{ book.title|truncatechars:15 }}</a></h6>
              <a href="{% url 'orders' %}" class="btn btn-primary btn-sm mr-2 font-weight-light">$ {{ book.price }}</a>
              </div>
            {% else %}
              <h6 class="card-book-title">
                <a class="auth-links font-weight-light" href="{{ book.get_absolute_url }}">{{ book.title|truncatechars:24 }}</a>
              </h6>
            {% endif %}
          </div>
        </div>
      {% endfor %}

    </div>

    <nav aria-label="Page navigation example py-1">
      <ul class="pagination justify-content-center">
        {#    <span class="step-links">#}
        {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
        {% endif %}

        {#        <li class="page-item">#}
        {#          <a href="" class="page-link act">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>#}
        {#        </li>#}
        <li class="page-item active">
          <a href="" class="page-link ">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a></li>
          <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
          </li>
        {% endif %}


        {#    </span>#}
      </ul>
    </nav>
  </div>
{% endblock content %}
