{% extends '_base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/head.css' %}">
{% endblock head %}

{% block title %}Books{% endblock title %}

{% block content %}
  <div class="card my-2">
    <div class="card-header text-color-brand "><h2>Books</h2></div>
  </div>
  {% if not perms.books.special_status %}
    <a href="{% url 'orders' %}" class="btn btn-success">Purchase All Books</a>
  {% endif %}
  <div class="special-card">
    <div class="books-div d-flex flex-wrap justify-content-between">
      {% for book in book_list %}
        <div class="card m-2" style="width: 18rem;">
          {% if  book.cover %}
            <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
          {% else %}
            <img src="{% static 'images/nobook.jpeg' %}" class="card-img-top" alt="no book cover">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title"><a class="auth-links" href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock content %}
